<h1>Top Ten Lists</h1>
<h4>Select One of the Categories Below to See All List In That Category</h4>
<ul>
    <li><a href="/lists/arts-and-entertainment">Arts and Entertainment</a></li>
    <li><a href="/lists/business">Business</a></li>
    <li><a href="/lists/food">Food</a></li>
    <li><a href="/lists/politics-and-history">Politics and History</a></li>
    <li><a href="/lists/recreation">Recreation</a></li>
    <li><a href="/lists/sports">Sports</a></li>
    <li><a href="/lists/other">Other</a></li>
</ul>