<h1 class="list-text">List Categories</h1>
<h4 class="list-text"><em>Select One of the Categories Below to Start Browsing Lists.</em></h4>
<div class="list-categories-container">
    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/arts-and-entertainment">Arts and Entertainment</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/business" class="list-categories-link">Business</a>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/food" class="list-categories-link">Food</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/politics-and-history" class="list-categories-link">Politics and History</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/recreation" class="list-categories-link">Recreation</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/sports" class="list-categories-link">Sports</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/math-and-sciences" class="list-categories-link">Math and Sciences</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/geography" class="list-categories-link">Geography</a></h3>
    </div>

    <div class="list-categories-item">
        <h3 class="list-categories-item-text"><a href="/lists/other" class="list-categories-link">Other</a></h3>
    </div>

</div>