<% list_content = list.content.split("- ") %>
 <ol>
 <% list_content.each do |entry| %>
     <li class="category-page-list-item"><%= entry %></li>
 <% end %>
</ol>

<li><%= list.title %> (<%= create_category_heading(list.category) %>)</li>
    <% list_content = list.content.split("- ") %>
    <ol>
    <% list_content.each do |entry| %>
            <li> <%= entry %></li>
    <% end %>
    </ol>
<% end %>
</ul>