<h1>List Title by username</h1>
<ol>
    <li>1.</li>
    <li>2.</li>
    <li>3.</li>
<ol>
<a href="/lists/:id/edit">Edit List</a><br>
<form action="/lists/:id" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <button type="submit">Delete List</button>
<form>