<% if flash.has?(:notice) %>
  <div class="flash-notice">
    <button type="button" class="btn btn-warning"><%= flash[:notice] %></button>
  </div>
<% end %> 
<h1 class="signup-text">Sign Up</h1>
<div class="login-signup-container">
    <form action="/signup" method="POST">

        <label for="email"><strong>Email:</strong></label><br>
            <input type="text" id="email" name="email"><br><br>

        <label for="username"><strong>Username:</strong></label><br>
            <input type="text" id="username" name="username"><br><br>

        <label for="password"><strong>Password:</strong></label><br>
            <input type="text" id="password" name="password"><br><br>
        <div class="submit" id="signup-submit">
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
</div>