<% if flash.has?(:notice) %>
  <div class="flash-notice">
    <button type="button" class="btn btn-warning"><%= flash[:notice] %></button>
  </div>
<% end %> 
<h2><strong>Come back soon!</strong></h2>
<p><strong>You can go back to the <a href="/">Home</a> screen to login or signup.</strong></p>
