<h1>Lists by <%= @user.username %></h1>

<ul>
<% @lists.each do |list| %>
    <li><%= list.title %> (<%= create_category_heading(list.category) %>)</li>
    <% list_content = list.content.split("- ") %>
    <ol>
    <% list_content.each do |entry| %>
            <li> <%= entry %></li>
    <% end %>
    </ol>
<% end %>
</ul>