<% if flash.has?(:notice) %>
  <div class="flash-notice">
    <button type="button" class="btn btn-warning"><%= flash[:notice] %></button>
  </div>
<% end %> 
<h1>Lists by <%= @user.username %></h1>

<% @lists.each do |list| %>
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h4 class="card-title"><strong> <%= list.title %></strong></h5>
            <% list_content = list.content.split("- ") %>
            <ol>
                <% list_content.each do |entry| %>
                    <li class="show-user-page-list-item"><%= entry %></li>
                <% end %>
            </ol>
        </div>
    </div>
<% end %>
